@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Katibeh&family=Madimi+One&family=Merienda:wght@300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

#desc{
    font-family: "Josefin Slab", serif;
}
#upper{
    height: 200vh;
}
  
#card{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    /* border-right: 2px solid black; */
    width: 20rem;
    height:17rem;
}
@media only screen and (min-width: 671px) and (max-width: 1015px) {
    #upper{
       height: 160vh;
       margin-top: -12vh;
    }
    #card{
        margin-left: 2vw;
    }
    #read_btn{
        width: 10rem;
        height: 3rem;
        align-self: center;
        margin-top: 2rem;
    }
}
@media only screen and (min-width: 401px) and (max-width: 670px){
    #upper{
        height: 340vh;
    }
    #card{
        width: 24rem;
        height: 15rem;
        align-items: center;
        justify-content: center;
        /* border-right: none; */
    }
    #titl{
        font-size: 2.1rem;
        text-align: center;
    }
    #desc{
        font-size: 1.2em;
        line-height: 2rem;
        text-align: center;
        /* border-bottom: 2px solid red; */
    }
    #read_btn{
        width: 10rem;
        height: 3rem;
        align-self: center;
        margin-top: 2rem;
    }
}
@media only screen and (max-width: 400px){
    #card {
        width: 20rem;
        height: 15rem;
        align-items: center;
        justify-content: center;
        /* border-right: none; */
        }
    
    #upper{
        height: 310vh;
        gap: 0vh
    }
    #titl{
        font-size: 1.7rem;
        text-align: center;
    }
    #desc{
        font-size: 1.2em;
        text-align: center;
        /* border-bottom: 2px solid red; */
    }
    #read_btn{
        width: 10rem;
        height: 3rem;
        align-self: center;
        margin-top: 2rem;
    }
}
@media only screen and (min-width: 671px){
    #outb{
        display: none;
    }
}
@media only screen and (min-width: 1015px){
    #card{
      width: 20rem;
      margin-left: 1rem;
    }
    #upper{
        height: 44rem;
        margin-top: -20vh ;
    }
    #read_btn{
        width: 10rem;
        height: 3rem;
        align-self: center;
        /* margin-top: 2rem; */
    }
  }
  @media only screen and (min-width: 1170px){
    #card{
        width: 23rem;
      }
      #upper{
        height: 44rem;
        margin-top: -10rem ;
    }
    #titl{
        font-size: 1.7rem;
    }
    #desc{
        font-size: 1.1rem;
    }
  }
  @media only screen and (min-width:768px){
    #read_btn{
        margin-bottom: 10px;
    }
  }
