@media only screen and (max-width:639px){
    #boxe{
        margin-top: 10vh;
        width: 80vw;
        gap: 10vh;
        position: relative;
        height: 65vh;
    }
    #label{
        position: absolute;
    }
}
#btn{
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
}
#btn:hover{
    background-color: rgb(107, 216, 255);
    color: black;
    border-color: black;
    box-shadow: 0 0 20px rgba(255, 215, 0, 0.7), 
    0 0 20px rgba(255, 239, 0, 0.5),
    0 0 20px rgba(255, 215, 0, 0.3); 
}
#line{
    width: 50vw
}